

table, th, thr {
  text-align: left;
  outline: 1px solid #00ff44;
}

.scrollerer {
  overflow: hidden;
  white-space: nowrap;
    padding: 3px;
    border-radius:28px;
    margin: 0px;
   -moz-box-shadow:    inset 0 0 5px #000000;
   -webkit-box-shadow: inset 0 0 5px #000000;
   box-shadow:         inset 0 0 5px #000000;
}

.scrolling {
  animation: marquee 4s linear infinite;
  display: inline-block;
  padding-right: 10px;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to { 
    transform: translateX(-100%);
  }
}

body {
  margin: 5;
  background-color: #BAA5EC;
}

img {
  width: 100%;
}



/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

a {
  font-style: monospace;
}

p { margin: 0; }

.filterDiv {
  background-color:: #00ff44;
  border-radius:20px;
  width: 450px;
  border:3px solid #00ff44;
  display: block;
  color: black;
  font-family: 'fivo_sans_modernregular';
  font-size:20px;
  padding: 10px;
  margin: 10px;
  text-decoration:none;
  text-shadow:1px 1px 1px #00ff44;
  background-color: #ddd3ee;
  display: none;
}
.filterDiv:hover {
  background-color::#00ff44;
  color: black;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 250px;
  height: 100vh;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#btn {
  font-size: 18px;
  padding: 5x;
  margin: 5px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#btn:hover {
  background: #ddd;
  color: black;
}

h4 {
  font-family: 'fivo_sans_modernitalic';
  margin: 1px;
}

h5 {
  font-family: 'fivo_sans_modernitalic';
  color:#6016a2;
}

  .btn {
  	background-color:#675b84;
  	border-radius:28px;
  	border:1px solid #00ff44;
  	display:inline-block;
  	cursor:pointer;
  	color:#F1F1F1;
  	font-family: 'fivo_sans_modernregular';
  	font-size:15px;
  	padding:3px 7px;
    margin: 4px 2px;
  	text-decoration:none;
  	text-shadow:2px 2px 2px #27664F;
  }
  .btn:hover {
  	background-color:#00ff44;
    color: black;
  }

  input {
  	background-color:#675b84;
  	border-radius:28px;
    width: 90%;
  	border:1px solid #00ff44;
  	display:inline-block;
  	cursor:pointer;
  	color:#F1F1F1;
  	font-family: 'fivo_sans_modernregular';
  	font-size:15px;
  	padding:3px 7px;
    margin: 4px 2px;
  	text-decoration:none;
  	text-shadow:2px 2px 2px #27664F;
  }
  .btn:hover {
  	background-color:#00ff44;
    color: black;
  }

.container {
  width: 2500px;
  height: 5000px;
  column-count: 5;
  column-divide: auto;
}

.show {
  page-break-inside: avoid;
  display: block;
  break-inside: avoid !important;
}

    #input {
      background-color: #000329; /* colore di sfondo    */
      border: 1px solid #00021c; /* bordo dell'elemento */
      color: #000f05;               /* colore del testo    */
      font-weight: bold;         /* testo in grassetto  */
      padding: 0;                /* padding             */
      height: 16px;              /* altezza             */
      width: 20px;               /* larghezza           */
    }
    big {
      font-family: 'fivo_sans_modernregular';
      color: red;
      font-size: 40px;
    }



  
