html {
  height:100%;
}

body {
  margin:0;
  background-color: #BAA5EC;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

a {
  font-style: monospace;
}

.filterDiv {
  background-color:: #00ff44;
  border-radius:20px;
  width: 450px;
  border:3px solid #00ff44;
  display: block;
  cursor:pointer;
  color: black;
  font-family: 'fivo_sans_modernregular';
  font-size:20px;
  padding:3px 7px;
  margin: 15px;
  text-decoration:none;
  text-shadow:1px 1px 1px #00ff44;
  background-color: #ddd3ee;
}
.filterDiv:hover {
  background-color::#00ff44;
  color: black;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 250px;
  height: 100vh;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#btn {
  font-size: 18px;
  padding: 5x;
  margin: 5px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#btn:hover {
  background: #ddd;
  color: black;
}


  .btn {
  	background-color:#675b84;
  	border-radius:28px;
  	border:1px solid #00ff44;
  	display:inline-block;
  	cursor:pointer;
  	color:#F1F1F1;
  	font-family: 'fivo_sans_modernregular';
  	font-size:15px;
  	padding:3px 7px;
    margin: 5px;
  	text-decoration:none;
  	text-shadow:2px 2px 2px #27664F;
  }
  .btn:hover {
  	background-color:#00ff44;
    color: black;
  }
  
  marquee {
    margin: 5px;
}

container {
  width: 10000px;
  height: 10000px;
  column-count: 20;
}

.show {
  display: block;
}

    #input {
      background-color: #000329; /* colore di sfondo    */
      border: 1px solid #00021c; /* bordo dell'elemento */
      color: #000f05;               /* colore del testo    */
      font-weight: bold;         /* testo in grassetto  */
      padding: 0;                /* padding             */
      height: 16px;              /* altezza             */
      width: 20px;               /* larghezza           */
    }
    big {
      font-family: 'fivo_sans_modernregular';
      color: red;
      font-size: 40px;
    }



  
