html {
  height:100%;
}

body {
  margin:0;
  background-color: #00fa5c;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 250px;
  height: 100vh;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  font-size: 18px;
  padding: 5x;
  margin: 5px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}


  .myButton {
  	background-color::#00fa5c;
  	border-radius:28px;
  	border:1px solid #00fa5c;
  	display:inline-block;
  	cursor:pointer;
  	color:#F1F1F1;
  	font-family: 'fivo_sans_modernregular';
  	font-size:20px;
  	padding:10px 5px;
    margin: 5px;
  	text-decoration:none;
  	text-shadow:2px 2px 2px #27664F;
  }
  .myButton:hover {
  	background-color:#00fa5c;
    color: black;
  }
  .myButton:active {
  	position:absolute;
       left : 20px;
       right : 20px;
       top:1;
    }


    #input {
      background-color: #000329; /* colore di sfondo    */
      border: 1px solid #00021c; /* bordo dell'elemento */
      color: #000f05;               /* colore del testo    */
      font-weight: bold;         /* testo in grassetto  */
      padding: 0;                /* padding             */
      height: 16px;              /* altezza             */
      width: 20px;               /* larghezza           */
    }
    big {
      font-family: ;
      color: red;
      font-size: 40px;
    }

    h1 {
      font-family: font-family: 'fivo_sans_modernregular';
    }
    p {
        font-family: font-family: 'fivo_sans_modernregular';
    }
    ul {
        font-family: font-family: 'fivo_sans_modernregular';
    }

    a {
      font-family: font-family: 'fivo_sans_modernregular';
      color: white;
      }

    div{
      font-family: font-family: 'fivo_sans_modernregular';
        color: white;
    }

    @keyframes slide {
      0% {
        transform:translateX(-25%);
      }
      100% {
        transform:translateX(25%);
      }
    }
